name: Android CI/CD

on:
  push:
    branches:
      - "developer"
      - "master"
  pull_request:
    branches:
    - "developer"
    - "master"

jobs:
  # CI
  build_android:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v2
      - name: Get run number
        run: |
          echo ${{ github.run_number }}
      - name: Setup Java
        uses: actions/setup-java@v1
        with:
          java-version: 12.x
      - name: Setup Flutter
        uses: subosito/flutter-action@v2
        with:
          channel: 'stable'
          flutter-version: '3.0.2'
          architecture: x64
      - name: Install Flutter dependencies
        run: flutter pub get
      - name: Build App Bundle
        run: flutter build appbundle --release
      - name: Run Unit Tests
        run: flutter test

